{% extends 'base.html.twig' %}

{% block title %}Wild Circus{% endblock %}

{% block body %}
<h1>Wild Circus presents:<h1>
<img src="/pictures/Avatar-Country-Website-Header.png" class="index-title">
<h2>The fully unofficial Avatar's band page !</h2>
{% endblock %}
