{% extends 'base.html.twig' %}

{% block title %}Edit Band{% endblock %}

{% block body %}
    <h1>Edit member</h1>

    {{ include('band/_form.html.twig', {'button_label': 'Update'}) }}

    <button type="button" class="btn-lg btn-warning"><a href="{{ path('band_index') }}">back to list</a></button>
    {{ include('band/_delete_form.html.twig') }}
{% endblock %}
