{% extends 'base.html.twig' %}

{% block title %}New member{% endblock %}

{% block body %}
    <h1>Add a new member</h1>

    {{ include('band/_form.html.twig') }}

    <a href="{{ path('band_index') }}">back to list</a>
{% endblock %}
