{% extends 'base.html.twig' %}

{% block title %}Add a Show{% endblock %}

{% block body %}
    <h1>Add a Show</h1>

    {{ include('shows/_form.html.twig') }}

    <a href="{{ path('shows_index') }}">back to list</a>
{% endblock %}
